<div ng-controller="contactController">
  <div class="page-header">
    <h2>Get in Touch</h2>
  </div>

  <div class="page-content">
    <p>
      Nicholas Barger<br>
      <a href="http://www.nicholasbarger.com">http://www.nicholasbarger.com</a>
    </p>
    <p>Seriously, I am happy to talk to you about projects, careers, or just about anything technology - feel free to get a hold of me in any of the following ways:</p>

    <!-- LinkedIn -->
    <div class="contact-item">
      <a href="https://www.linkedin.com/profile/view?id=20785113">
        <i class="fa fa-linkedin-square fa-5x" style="color: #007bb6"></i>
      </a>
    </div>

    <!-- Github -->
    <div class="contact-item">
      <a href="https://github.com/nicholasbarger">
        <i class="fa fa-github-square fa-5x"></i>
      </a>
    </div>

    <!-- Twitter -->
    <div class="contact-item">
      <a href="https://twitter.com/nbarger">
        <i class="fa fa-twitter-square fa-5x" style="color: #2175d1"></i>
      </a>
    </div>

    <!-- Email -->
    <div class="contact-item">
      <a href="" ng-click="toggleEmailDisplay()">
        <i class="fa fa-envelope-square fa-5x" style="color: #fff;"></i>
      </a>
    </div>

    <!-- non-visible email -->
    <div ng-if="isEmailDisplayed">
      <p>It's a shame that bots scrape email addresses from websites to use in spam lists, but I rather you have my
        email address directly instead of some impersonal contact form.</p>

      <p><a href="mailto:nicholas@nicholasbarger.com">nicholas@nicholasbarger.com</a></p>
    </div>
  </div>
</div>