<div class="page-header">
  <h2>Portfolio: Arthrex</h2>
</div>

<div class="page-content">
  <a href="http://www.arthrex.com" target="_blank"><img src="http://nbarger.files.wordpress.com/2012/02/final-logo-280blue.jpg" /></a><br />
  <p>While at Arthrex, I've had the privilege of being involved in the following projects as both a developer, analyst and manager:</p>
  <ul>
    <li>A single, multi-tiered, change resilient platform for custom development to house future business requested applications. The platform uses distributed membership, security, role-based authentication, modular data access to multiple data server types, dedicated business logic layer, service façade for Service Oriented Architecture, and a single dynamic web-based presentation layer.</li>
    <li>FDA regulated Medical Complaints Application used in tracking and resolving medical device complaints</li>
    <li>Global Trade Compliance regulated Shipping Application used in request and tracking of non-ERP shipments made including address verification for potential dangerous shipments.</li>
    <li>Tissue Bank commission tracking and reporting process running through ASP.NET and windows service.</li>
    <li>Payment Gateway to centralize all online credit card payments into a secure and single entry point which can be leveraged by all applications within the Arthrex development stack.</li>
    <li>A National Sales Contract management application which integrates with the Arthrex ERP system and allows for future CRM integration.</li>
    <li>Lead Technical Role in the implementation of Oracle’s Manufacturing Execution System and Quality Management System comprising of EBS, Discrete Manufacturing, Quality, Inventory, Oracle SOA Suite, Learning Management System, Agile Product Lifecycle Management, Manufacturing Operation Center, Kepware CNC/PLC Machine Connectivity, and Loftware Label Connector. This project is the largest IT project Arthrex, Inc. has engaged in to date. The entire system and all integrations will be FDA validated upon completion. A large portion of this project consists of managing teams of internal staff and high-burn rate consultants.</li>
    <li>Primary analyst for leading an Electronic Medical Records (EMR) vendor selection and purchase for Arthrex Medical Clinics.</li>
    <li>The Business Portal, a sales portal enabling distributors and sales representatives to quote, respond to customer requests, and manage sales rep membership while integrating to the Arthrex ERP system in real-time.</li>
  </ul>

  <h4>Sample Screenshots From Various Projects</h4>
  <h3>FDA Complaints Application</h3>
  <p><img src="http://nbarger.files.wordpress.com/2012/02/complaints_screenshot.jpg" /></p>
  <h3>National Contracts Application</h3>
  <p><img src="http://nbarger.files.wordpress.com/2012/02/contract_screenshot.jpg" /></p>
  <h3>Credit Card Payment Gateway</h3>
  <p><img src="http://nbarger.files.wordpress.com/2012/02/pgs_screenshot.jpg" /></p>
  <h3>Work Order Status for Oracle Discrete Manufacturing</h3>
  <p><img src="http://nbarger.files.wordpress.com/2012/02/wos_screenshot.jpg" /></p>
  <h3>Business Portal</h3>
  <p><img src="http://nbarger.files.wordpress.com/2013/01/sales_home.jpg" /></p>
  <p><img src="http://nbarger.files.wordpress.com/2013/01/people_hub.jpg" /></p>
</div>