<section class="post-list">
  <a href="/feed" target="_blank"><i class="fa fa-rss-square fa-3x" style="color: orange; float: right;"></i></a>

  {{#posts}}
  <article class="post">
    <h2><a href="{{link}}" title="{{title}}">{{title}}</a></h2>
    <small>{{pubDate}}</small>
    <div class="post-content">
      {{{content}}}
    </div>
  </article>
  {{/posts}}
</section>

<section>
  <h3>Past Posts</h3>
  <ul class="fa-ul">
  {{#pastPosts}}
  <li><i class="fa-li fa fa-coffee"></i><a href="{{link}}" title="{{title}}">{{title}}</a></li>
  {{/pastPosts}}
  </ul>
</section>