<div class="intro">
  <div class="img-circle intro-img"></div>
  <h1>Nicholas Barger</h1>
  <small><i class="fa fa-heart"></i> Software Professional</small>

  <br>

  <!-- LinkedIn -->
  <div class="contact-item">
    <a href="https://www.linkedin.com/profile/view?id=20785113" target="_blank">
      <i class="fa fa-linkedin-square fa-5x" style="color: #007bb6"></i>
    </a>
  </div>

  <!-- Github -->
  <div class="contact-item">
    <a href="https://github.com/nicholasbarger" target="_blank">
      <i class="fa fa-github-square fa-5x"></i>
    </a>
  </div>

  <!-- Twitter -->
  <div class="contact-item">
    <a href="https://twitter.com/nbarger" target="_blank">
      <i class="fa fa-twitter-square fa-5x" style="color: #2175d1"></i>
    </a>
  </div>

  <!-- Email -->
  <div class="contact-item">
    <a href="" ng-click="isEmailDisplayed = !isEmailDisplayed">
      <i class="fa fa-envelope-square fa-5x" style="color: #fff;"></i>
    </a>
  </div>

  <!-- non-visible email -->
  <div ng-if="isEmailDisplayed">
    <p>It's a shame that bots scrape email addresses from websites to use in spam lists, but I rather you have my
      email address directly instead of some impersonal contact form.</p>

    <p><a href="mailto:nicholas@nicholasbarger.com">nicholas@nicholasbarger.com</a></p>
  </div>
</div>