<h2>Portfolio</h2>

<p>Please find a sample collection of projects i've been a part of; many of these products span throughout several years of my career, they vary in skill, budget, technologies, and client requests.  Please feel free to <a href="http://nicholasbarger.com/contact/">contact me</a> with any questions or comments you may have about any of the projects you see here.</p>

<h3>Arthrex (Med-Device)</h3>
<p>Provides top quality medical device tools and implants for arthroscopic surgery.  I was intimately involved with application development throughout the company both as lead and eventually Software Development Manager.</p>
<p><a href="/portfolio/arthrex/">Find out about various projects I was involved in at Arthrex</a>.</p>
<p><a href="http://www.arthrex.com" target="_blank">View website</a></p>

<h3>Online Management Systems (OMS)</h3>
<p>Offers E-Commerce and fulfillment in a single turnkey solution for businesses such as <a href="http://www.one.org" target="_blank">ONE.org</a>, <a href="http://www.nothingbutnets.net/" target="_blank">Nothing But Nets (United Nations)</a>, <a href="http://www.wecansolveit.org" target="_blank">Climate Protect</a>, and many more.</p>
<p>Find out about various projects encompassed during my three years at OMS.</p>
<p><a href="http://www.omsonline.net" target="_blank">View website</a></p>

<h3>OMS E-Commerce Administration Platform</h3>
<p>This project encompasses all of the backend operations that are involved in allowing a client to manage inventory, membership, content management, advertising tracking, reporting, order transactions, promotions, email campaigns and much more.</p>
<p><a href="/portfolio/oms/">View screenshots and details about this project</a></p>

<h3>Pro Team Golf League (PTGL)</h3>
<p>PGA card holding players who are grouped into teams to play in Ryder Cup style golf matches.  The twist is that <i>Online ProCoaches</i>, members of the website, are able to dictate who plays against whom and it what positions through a team-based voting system.</p>
<p>Included E-Commerce, online community, a voting-game platform, and a top-notch website in partnership with <a href="http://www.edelman.com/" target="_blank">Edelman</a> PR firm.</p>
<p><a href="/portfolio/ptgl/">View screenshots and details about this project</a></p>

<h3>Team Challenge</h3>
<p>Many of the executives from PTGL spun off a seperate company to license the idea of Strat.e.Golf (PTGL's voting platform) with the addition of celebrity star power.  Backed by <a href="http://msn.foxsports.com/" target="_blank">Fox Sports Network</a>, <a href="http://msn.foxsports.com/bestdamn" target="_blank">Best Damn Sports Show</a>, and commissioned by Charles Barkley - the Team Challenge was a huge success in Palm Springs, CA.</p>

<h3>Corporate Health Management Solutions</h3>
<p>CHMS has developed a unique system of absence and incident tracking for large corporations.  By using the CHMS platform, which is fully customizeable, corporations can greatly reduce the time and cost of employee absence and incident tracking.</p>
<i>Note: Website is not public.</i>

<h3>Hi-Tech Cooling &amp; Controls</h3>
<p>A Southwest Florida commercial air conditioning company serving primarily Lee and Collier counties.</p>
<p><a href="/portfolio/hi-tech-cooling/">View screenshots and details about this project</a></p>

<h3>Southwest Florida Nights</h3>
<p>A local project to bring attention to venues in Southwest Florida.  Bands, bars, clubs, and other nightlife in the area are featured weekly with members receiving updates on specials, how-to's on making drinks, and contact/directional info for services related to the area nightlife.</p>

<h3>MyCatchLog</h3>
<p>MyCatchLog is an online tool that allows anglers to log their fishing trips including GPS, time/date, and weather conditions.</p>

<div>
  <h2>Additional Clients I've Made Contributions To</h2>
  <p><i>Note: The following list includes clients that I've contributed either design, programming, project management, or consultation on.  They may or may not still feature direct work of mine in their current websites.</i></p>
  <ul>
    <li><a href="http://www.one.org" target="_blank">The ONE Campaign</a></li>
    <li><a href="http://www.shopwsop.com" target="_blank">The World Series of Poker</a></li>
    <li>The World Series of Golf</li>
    <li><a href="http://store.sothread.com" target="_blank">Southern Thread Clothing</a></li>
    <li><a href="http://www.tagsafari.com" target="_blank">Tag Safari</a></li>
    <li><a href="http://www.bbmannpah.com" target="_blank">Barbara B. Mann</a></li>
    <li><a href="http://www.adfedswfl.com" target="_blank">SWFL Ad Federation</a></li>
    <li><a href="http://www.gbclaw.com" target="_blank">GBCR&amp;P Law</a></li>
    <li><a href="http://www.leememorial.org" target="_blank">Lee Memorial Health System (Leeclips)</a></li>
    <li><a href="http://www.healthylivingforkids.com/" target="_blank">Growing &amp; Going Books</a></li>
  </ul>
</div>