<h2>Portfolio: Online Management Systems</h2>

<p>Since E-Commerce and inventory control is the core of OMS, the administration platform really acted as an online ERP system for small-midsize companies.</p>
<p>The platform integrates with several other systems including but not limited to:</p>
<ul>
  <li>The OMS frontend storefront, which can be customized to fit any design requirements necessary as well as custom functionality required for particular storefront shopping carts.</li>
  <li>Malvern shipping software.</li>
  <li>Abecas warehousing software.</li>
  <li>Various accounting software.</li>
</ul>
<p>Many of the features found in these additional integrations are also found in similar form built directly into the platform.  Without any additional software, the platform can provide access to membership administration, transaction management, inventory management, promotional campaigns, referral tracking, and detailed reporting on everything in between.</p>

<h2>Membership</h2>
<p>Membership models for web customers, vendors, distributors, sales reps, and several other specialized customer groups can be managed in a simple, straightforward way.  The system supports for location profiles (multiple ship-to, bill-to, or remittance addresses, etc.), the creation of custom groups, tracking of role access to varying areas of the website or administration, and managing transactional data for users such as credit limits, tax status, and preference of payment.</p>

<h3>Manage Members</h3>
<img src="http://nbarger.files.wordpress.com/2012/02/oms_screenshot1.gif" alt="Manage Members" />

<h3>Create New Member</h3>
<img src="http://nbarger.files.wordpress.com/2012/02/oms_screenshot2.gif" alt="Create New Member" />

<h2>Transactions</h2>
<p>Transactions include all web-based orders from B2C customers, web-based orders from B2C customers, quick order entry created by inhouse staff, purchase order management, voids, RMA's, real-time order tracking information, and much more.</p>

<h2>Inventory</h2>
<p>The administration platform offers clients an easy-to-use interface for updating inventory that supports physical product, digital product, multiple pricing based on customer group, images, descriptions, page-specific search engine optimization for products, custom modifiers such as size, color, etc. and much more.</p>
<p>Inventory can be modified individually, or in bulk through a wizard style editor.  Inventory can also be uploaded via Excel to facilitate large scale changes or the initial import of inventory.</p>

<h2>Inventory Real-time Status</h2>
<img src="http://nbarger.files.wordpress.com/2012/02/oms_screenshot5.gif" alt="Inventory Real-time Status" />

<h2>Promotions</h2>
<p>Promotions is a fairly broad top regarding E-Commerce.  In the case of the OMS Administration this included coupons, email campaigns that could be distributed to customers, and an inhouse mechanism for referral tracking and reporting.</p>

<h2>Customer Support</h2>
<p>An additional interface is provided for tracking and responding to customer support inquiries through both email and phone-based requests/questions.</p>

<h3>Manage Email Campaigns</h3>
<img src="http://nbarger.files.wordpress.com/2012/02/oms_screenshot6.gif" alt="Manage Email Campaigns" />

<h2>Reporting</h2>
<p>Nearly all aspects of the client's online business has the capability of reporting exactly what is going on.  Reports include order history, inventory real-time status, archived stock levels, repeat business, membership, customer support, and a wide array of additional reports including client-specific custom reporting.</p>

<h3>Order History</h3>
<img src="http://nbarger.files.wordpress.com/2012/02/oms_screenshot3.gif" alt="Order History" />

<h3>Repeat Business</h3>
<img src="http://nbarger.files.wordpress.com/2012/02/oms_screenshot4.gif" alt="Repeat Business" />