<h2>Portfolio: Pro Team Golf League</h2>

<p>PTGL included several custom software requirements including but not limited to:</p>
<ul>
  <li>Online E-Commerce website to take membership registrations.</li>
  <li>Future E-Commerce apparel and product sales.</li>
  <li>Digital subscriptions.</li>
  <li>Custom voting-game platform called Strat.e.Golf</li>
  <li>In depth player stat tracking and database design to track all golf activity down to the stroke level.</li>
  <li>GPS handheld device for caddies to track and report near real-time ball placement and stroke results during tournaments.</li>
  <li>Online community including blogs, message forums, and community member-member messaging.</li>
</ul>

<h3>PTGL Homepage</h3>
<img src="http://nbarger.files.wordpress.com/2012/02/ptgl_screenshot11.gif" alt="PTGL Homepage" />

<h3>Choosing Sides</h3>
<img src="http://nbarger.files.wordpress.com/2012/02/ptgl_screenshot21.gif" alt="PTGL Signup" />

<h3>Strat.e.Golf Screenshots</h3>
<p><i>Note: Download the flash used when demonstrating Strat.e.Golf to investors before software was implemented.  Click <b>Forward</b> to flip through the screenshots of the Strat.e.Golf web-app.</i></p>
<div id="strategolf"><a href="http://dl.dropbox.com/u/39927596/blog_media/strategolf.swf" target="_blank">Download Flash Demo</a></div>