<h2>Portfolio: Hi-Tech Cooling</h2>

<p>Hi-Tech Cooling is a Southwest Florida Commercial HVAC company that needed a professional website to match their corporate branding.</p>

<h3>Homepage</h3>
<p><img src="http://nbarger.files.wordpress.com/2012/02/hitech_screenshot1.jpg" alt="Homepage" /></p>

<h3>Services</h3>
<p><img src="http://nbarger.files.wordpress.com/2012/02/hitech_screenshot2.jpg" alt="Services" /></p>

<p>In addition, a web-based dispatching application was created to use internally to assist in scheduling and executing service calls.</p>
<p>This project was done long before the now dominant jQuery draggable functionality but allowed for full drag and drop of scheduled calls to the appropriate service technician.  Each drop event registered a callback to the database to save the associated data and if necessary send a notification of the job assignment.</p>
<h3>Scheduling and Dispatch List</h3>
<p><img src="http://nbarger.files.wordpress.com/2012/02/dispatch_screenshot.jpg" alt="Dispatch" /></p>

<h3>Customer Management</h3>
<p><img src="http://nbarger.files.wordpress.com/2012/02/dispatch_screenshot2.jpg" alt="Dispatch" /></p>