*, *:before, *:after {
  webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: lightgreen;
}

a .fa {
  margin-right: 5px;
}

a.subtle {
  color: inherit;
}

body {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #ccc;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #131C21;
}

button, input[type='button'] {
  font-size: .9em;
  padding: 10px;
  background-color: #709170;
  color: #fff;
  border: none;
}

button[type='submit'], input[type='submit'], button.primary, input[type='button'].primary {
  background-color: #34a343;
}

.columns-1 {
}
.columns-2 {
}
.columns-3 {
}

form {
  margin-top: 15px;
}

form input, form textarea, form select {
  width: 100%;
  padding: 5px;
  font-size: 1em;
  margin-bottom: 10px;
}

form button, form input[type='submit'] {
  text-align: right;
}

header {
  width: 90%;
  font-family: "Arvo", Georgia, Times, serif;
  font-size: .85em;
  margin: 0;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  line-height: 1em;
  margin-bottom: 2px;
  font-size: 1em;
}

header small {
  color: #34a343;
  line-height: .90em;
  font-weight: 700;
  letter-spacing: 0.025em;
  font-size: 1.0em;
  margin: 0;
  text-rendering: optimizeLegibility;
}

header img {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-family: "Arvo", Georgia, Times, serif;
  font-weight: 700;
  letter-spacing: 0.025em;
  margin: 0px;
  padding: 0px;
  text-rendering: optimizeLegibility;
}

h3 {
  text-transform: uppercase;
  margin-bottom: 15px;
}

input[type='search'] {
  margin-top: 10px;
  margin-right: 15px;
  font-size: 1em;
}

pre {
  width: 100%;
  overflow-x: auto;
  font-size: .8em;
  background-color: #101010;
  color: #fff;
  padding: 15px;
}

table {
  width: 100%;
}
table th {
  text-align: left;
  border-bottom: 1px solid #ccc;
  padding-bottom: 3px;
}
table td {
  padding-top: 3px;
  padding-bottom: 3px;
}

.contact-item {
  width: 24%;
  display: inline-block;
  text-align: center;
}

.content {
  max-width: 90%;
  display: block;
}

.content img {
  max-width: 100%;
}

.easter-egg-link {
  text-decoration: none;
  cursor: none;
  color: inherit;
}

.main-nav {
  color: #fff;
  background-color: #34a343;
  position: fixed;
  left: 90%;
  top: 0px;
  width: 45px;
  height: 100%;
}

.main-nav a {
  text-decoration: none;
  color: #fff;
}

.main-nav a:hover {
  color: yellow;
}

.main-nav ul {
  list-style: none;
  padding-top: 5px;
  padding-bottom: 10px;
  width: 400px;
  top: 150px;
  left: -175px;
  position: absolute;

  -webkit-transform: rotate(-90deg); /* Safari */
  -moz-transform: rotate(-90deg); /* Firefox */
  -ms-transform: rotate(-90deg); /* IE */
  -o-transform: rotate(-90deg); /* Opera */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* IE */
}

.main-nav ul li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.post-list .post {
  border: 2px solid #fff;
  padding: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  display: block;
  color: #fff;
  text-align: center;
}

.post-list .post:hover {
  /*border: 2px solid #34a343;*/
  background-color: green;
  cursor: pointer;
}

.post-list .post a {
  color: #fff;
}

.post-list .post h2 {
  font-size: 1em;
}

.post-list .post .post-content {
  display: none;
}