*, *:before, *:after {
  webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: lightgreen;
}

a.subtle {
  color: inherit;
}

body {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #ccc;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #131C21;
}

header {
  width: 33%;
  max-width: 640px;
  font-family: "Arvo", Georgia, Times, serif;
  font-size: .85em;
  margin: 0;
  text-transform: uppercase;
  display: block;
  min-height: 460px;
  position: fixed;
}

header h1 {
  line-height: 1em;
  margin-bottom: 2px;
}

header small {
  color: #34a343;
  line-height: .90em;
  font-weight: 700;
  letter-spacing: 0.025em;
  font-size: 2.0em;
  margin: 0;
  text-rendering: optimizeLegibility;
}

header img {
  width: 90%;
  margin-top: 30px;
  border: 5px solid #fff;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-family: "Arvo", Georgia, Times, serif;
  font-weight: 700;
  letter-spacing: 0.025em;
  margin: 0px;
  padding: 0px;
  text-rendering: optimizeLegibility;
}

h3 {
  text-transform: uppercase;
  margin-bottom: 15px;
}

input[type='search'] {
  margin-top: 10px;
  margin-right: 15px;
  font-size: 1em;
}

.contact-item {
  width: 24%;
  display: inline-block;
  text-align: center;
}

.content {
  float: left;
  left: 41.66666667%;
  width: 53.33333333%;
  position: absolute;
}

.content img {
  max-width: 100%;
}

a .fa {
  margin-right: 5px;
}

.main-nav {
  color: #fff;
  background-color: #34a343;
  position: fixed;
  left: 35%;
  top: 0px;
  width: 45px;
  height: 100%;
}

.main-nav ul {
  -webkit-transform: rotate(-90deg); /* Safari */
  -moz-transform: rotate(-90deg); /* Firefox */
  -ms-transform: rotate(-90deg); /* IE */
  -o-transform: rotate(-90deg); /* Opera */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* IE */
}

.main-nav a {
  text-decoration: none;
  color: #fff;
}

.main-nav a:hover {
  color: yellow;
}

.main-nav ul {
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 400px;
  top: 150px;
  left: -175px;
  position: absolute;
}

.main-nav ul li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.post-list .post {
  border: 2px solid #fff;
  padding: 15px;
  /*width: 31%;*/
  margin-right: 15px;
  margin-bottom: 15px;
  /*float: left;*/
}

.post-list .post:hover {
  border: 2px solid #34a343;
}

.post-list .post a {
  color: #fff;
}

.post-list .post h2 {
  font-size: 1em;
}

.post-list .post .post-content {
  display: none;
}
