/* Anything except smart phones ----------- */
@media only screen
and (min-width : 651px) {
  body {
  }

  header {
    width: 31%;
    max-width: 640px;
    min-height: 460px;
    position: fixed;
    text-align: inherit;
  }

  header img {
    width: 90%;
    margin-top: 30px;
    margin-bottom: 15px;
    border: 5px solid #fff;
    display: block;
  }

  header h1 {
    font-size: 1.25em;
  }

  header small {
    font-size: 1.15em;
  }

  h2 {
    margin-top: inherit;
  }

  .columns-1 {
  }
  .columns-2 {
    float: left;
    width: 50%;
  }
  .columns-3 {
    float: left;
    width: 33.333333333333336%;
  }

  .content {
    float: left;
    left: 41.66666667%;
    width: 53.33333333%;
    position: absolute;
    display: inherit;
    max-width: inherit;
  }

  .main-nav {
    left: 35%;
  }
}
