<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="nb">
<head>
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">

  <!-- library styles -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <!--<link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">-->

  <!-- app styles -->
  <link href="/styles/mobile-styles.css" type="text/css" rel="stylesheet">
  <link href="/styles/desktop-styles.css" type="text/css" rel="stylesheet">

  <!--[if lte IE 7]>
  <script src="bower_components/json2/json2.js"></script>
  <![endif]-->

  <!-- google analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-3242359-4', 'auto');
    ga('send', 'pageview');
  </script>

  <!-- ****** faviconit.com favicons ****** -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
  <link rel="icon" type="image/png" sizes="196x196" href="/favicon-196.png">
  <link rel="icon" type="image/png" sizes="160x160" href="/favicon-160.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96.png">
  <link rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon-152.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon-144.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon-120.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon-114.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon-76.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon-72.png">
  <link rel="apple-touch-icon" href="/favicon-57.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="/favicon-144.png">
  <meta name="msapplication-config" content="/browserconfig.xml">
  <!-- ****** faviconit.com favicons ****** -->
</head>
<body>

<!-- the top header for the homepage -->
<header class="intro group">
  <div class="intro-profile">
    <div class="img-circle intro-img"></div>
    <h1>Nicholas Barger</h1>
    <small>Entrepreneur - CTO - Engineer</small>
  </div>

  <div class="intro-content">

    <!-- LinkedIn -->
    <div class="contact-item">
      <a href="http://www.linkedin.com/in/nicholasbarger" target="_blank">
        <i class="fa fa-linkedin-square fa-5x"></i>
      </a>
    </div>

    <!-- Github -->
    <div class="contact-item">
      <a href="https://github.com/nicholasbarger" target="_blank">
        <i class="fa fa-github-square fa-5x"></i>
      </a>
    </div>

    <!-- Twitter -->
    <div class="contact-item">
      <a href="https://twitter.com/nbarger" target="_blank">
        <i class="fa fa-twitter-square fa-5x"></i>
      </a>
    </div>

    <!-- Email -->
    <div class="contact-item">
      <a href="#email" ng-click="isEmailDisplayed = !isEmailDisplayed">
        <i class="fa fa-envelope-square fa-5x"></i>
      </a>
    </div>

    <!-- about -->
    <p>I have a software development background specializing in web technologies coupled with business and management
      experience. I have direct experience with e-commerce, insurance, medical device, aviation and large web-based applications.</p>

    <!-- non-visible email -->
    <div ng-if="isEmailDisplayed" id="email">
      <p>Contact me by email: <a href="mailto:nicholas@nicholasbarger.com">nicholas@nicholasbarger.com</a></p>
    </div>
  </div>
</header>

<!-- content -->
<div class="content">
  {{{ yield }}}
</div>

<!-- library scripts -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>window.jQuery || document.write("<script src='/bower_components/jquery/dist/jquery.min.js'\>\x3C//script>");</script>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script>window.angular || document.write("<script src='/bower_components/angular/angular.min.js'>\x3C/script>");</script>

<!-- custom scripts -->
<script src="/app.js"></script>

</body>
</html>