/* Anything except smart phones ----------- */
@media only screen
and (min-width : 651px) {
  body {
  }

  .content {
    margin-right: 0px;
  }

  .intro {
    padding: 50px;
  }

  .intro-profile {
    width: 50%;
    float: left;
  }

  .intro-profile h1 {
    font-size: 1.5em;
    margin-top: 25px;
  }

  .intro-profile small {
    margin-bottom: 25px;
  }

  .intro-content {
    width: 50%;
    float: right;
  }

  .intro-content p:first-of-type {
    margin-top: 30px;
  }

  .intro-img {
    zoom: 0.70;
    margin-top: -15px;
  }
}
