*, *:before, *:after {
  webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #16A085;
}

a .fa {
  margin-right: 5px;
}

a.subtle {
  color: inherit;
}

body {
  color: #dcf7ff;
  font-family: arial, helvetica, verdana, sans-serif;
  font-size: 12pt;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #34495E;
  padding: 0px;
  margin: 0px;
}

button, input[type='button'] {
  font-size: .9em;
  padding: 10px;
  background-color: #709170;
  color: #fff;
  border: none;
}

button[type='submit'], input[type='submit'], button.primary, input[type='button'].primary {
  background-color: #34a343;
}

form {
  margin-top: 15px;
}

form input, form textarea, form select {
  width: 100%;
  padding: 5px;
  font-size: 1em;
  margin-bottom: 10px;
}

form button, form input[type='submit'] {
  text-align: right;
}

header {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.025em;
  margin: 0px;
  padding: 0px;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
  margin-bottom: 15px;
}

input[type='search'] {
  margin-top: 10px;
  margin-right: 15px;
  padding: 10px;
  font-size: 1.5em;
  width: 100%;
}

pre {
  width: 100%;
  overflow-x: auto;
  font-size: .8em;
  background-color: #101010;
  color: #fff;
  padding: 15px;
}

table {
  width: 100%;
}
table th {
  text-align: left;
  border-bottom: 1px solid #ccc;
  padding-bottom: 3px;
}
table td {
  padding-top: 3px;
  padding-bottom: 3px;
}

.alt-background {
  background-color: #1ABC9C;
}

.btn {
  background-color: #1ABC9C;
  border-radius: 5px;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
}

.career-list {
  padding-left: 0px;
  list-style: none;
}
.career-list li {
  background-color: #6187AC;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.career-list li:nth-child(even) {
  background-color: inherit;
}

.contact-item {
  width: 24%;
  display: inline-block;
  text-align: center;
}

.content {
  margin-right: 30px;
  display: block;
}

.content img {
  max-width: 100%;
}

.easter-egg-link {
  text-decoration: none;
  cursor: none;
  color: inherit;
}

.fa {
  color: #ED5A64;
}

.img-circle {
  width: 350px;
  height: 350px;
  border-radius: 175px;
  -webkit-border-radius: 175px;
  -moz-border-radius: 175px;
  border: 10px solid #fff;
}

.intro {
  padding: 50px;
  background-color: #243546;
  text-align: center;
}

.intro-img {
  background-image: url('../../media/images/me-costa.jpg');
  background-position-x: -275px;
  background-position-y: -10px;
  margin: auto;
}

.intro + .page-content,
.intro + .page-content + .page-content,
.intro + .page-content + .page-content + .page-content {
  padding: 0px;
}

.main-nav {
  color: #fff;
  background-color: #111D35;
  position: fixed;
  left: 91%;
  top: 0px;
  width: 45px;
  height: 100%;
}

.main-nav a {
  text-decoration: none;
  color: #fff;
  border: 1px solid #111D35;
  border-radius: 5px;
  padding: 7px;
}

.main-nav a:hover {
  color: yellow;
}

.main-nav ul {
  list-style: none;
  padding-top: 5px;
  padding-bottom: 10px;
  width: 500px;
  top: 215px;
  left: -220px;
  position: absolute;

  -webkit-transform: rotate(-90deg); /* Safari */
  -moz-transform: rotate(-90deg); /* Firefox */
  -ms-transform: rotate(-90deg); /* IE */
  -o-transform: rotate(-90deg); /* Opera */
  /*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); *//* IE */
  filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',
  M11=6.123031769111886e-17, M12=1, M21=-1, M22=6.123031769111886e-17); /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand',
  M11=6.123031769111886e-17, M12=1, M21=-1, M22=6.123031769111886e-17)"; /* IE8 */
  zoom: 1;
}

.main-nav ul li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.padded {
  padding: 15px;
}

.page-content {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
}

.page-header {
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 30px;
  padding-bottom: 0px;
}

.post-list {
  margin-top: 30px;
}

.post-list .post {
  margin-bottom: 15px;
  display: block;
  color: #fff;
  background-color: #16A085;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}

.post-list .post:hover {
  cursor: pointer;
}

.post-list .post h2 {
  font-size: 1em;
}

.post-list .post .post-content {
  display: none;
}

.skill {
  width: 33.33333%;
  float: left;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.skill .fa {

}

.tech-skill {
  width: 33.33333%;
  float: left;
  color: #fff;
}

.tech-skill ul {
  margin-left: 5px;
}